* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
}

.signup-container {
    margin: 5%;
    padding: 1%;
    width: 25%;
    height: 20vh;
    float: left;
    margin-left: 15%;
}

#related-links {
    margin: 5%;
    padding: 1%;
    width: 25%;
    height: 20vh;
    float: right;
    margin-right: 15%;
}
.App {
    margin: 2%;
    padding: 1%;
    width: 65%;
    margin-left: 2%;
    float: left;
}

#vl {
    width: 1;
    size: 500;
}

input[type="text"] {
    padding: 5px;
    outline: none;
}
#hits {
    float: right;
}
#right {
    float: right;
    width: 30%;
    margin: 2%;
    padding: 1%;
    width: 25%;
    margin-left: 2%;
    float: left;
}

#code {
    height: 50vh;
    overflow: scroll;
}
#select_form {
    width: 20%;
}

.card {
    width: 50%;
    height: 15vh;
    background-color: #ff7373;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding-top: 10px;
    margin: auto;
}

#latest-pastes {
    margin: 2%;
    float: right;
    width: 25%;
    height: 90vh;
}
