* {
    margin: 0;
    padding: 0;
}

body {
    padding: 5px;
}

.signup-container {
    margin: 5%;
    padding: 1%;
    width: 25%;
    height: 20vh;
    float: left;
    margin-left: 15%;
}

#related-links {
    margin: 5%;
    padding: 1%;
    width: 25%;
    height: 20vh;
    float: right;
    margin-right: 15%;
    display: none;
}
.App {
    margin: 2%;
    padding: 1%;
    width: 65%;
    margin-left: 2%;
    float: left;
}

#vl {
    width: 1;
    size: 500;
}

input[type="text"] {
    padding: 5px;
    outline: none;
}
#hits {
    float: right;
}
#right {
    float: right;
    width: 30%;
    margin: 2%;
    padding: 1%;
    width: 25%;
    margin-left: 2%;
    float: left;
}

#code {
    height: 50vh;
    overflow: scroll;
}
#select_form {
    width: 20%;
}

.user-card {
    color: white;
    background: red;
    padding: 5px;
    width: 15%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card {
    background: #ff7373;
    text-align: center;
    margin: 30vh auto;
    width: 50vw;
    height: auto;
    padding: 30px;
}

#latest-pastes {
    margin: 2%;
    float: right;
    width: 25%;
    height: 90vh;
}

#tag-link:hover {
    color: black;
    cursor: pointer;
}

@media print {
    body * {
        visibility: hidden;
    }
    .paste-content,
    .paste-content * {
        visibility: visible;
    }
    .paste-content {
        position: absolute;
        left: 0;
        top: 0;
    }
}

#paste-area {
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 40vh;
    resize: none;
    outline: none;
    padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 25vw;
    height: 4.5vh;
    font-size: 2vh;
}

select,
#select_form {
    width: auto;
    font-size: 2vh;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    font-size: 2vh;
}

button[type="submit"] {
    width: auto;
    height: 4vh;
    font-size: 2vh;
}
