#stats {
    width: 90%;
    margin: 5%;
}

#see-pastes:hover {
    cursor: pointer;
    color: lightblue;
}

#paste_name {
    color: blue;
}

@media only screen and (min-width: 1224px) {
    #all-pastes {
        margin: 5%;
        max-width: 95vh;
        overflow-y: scroll;
    }
}
#paste_name:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

th,
td {
    color: white;
}

#no-paste {
    float: right;
    margin: 5%;
    text-align: center;
    width: 30%;
    background: #1f4b99;
    color: white;
}
.spin {
    outline: none;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-size: 20px;
    padding: 5px;
    z-index: 100;
}

/* paste_expiry_at: "2020-09-05T06:40:58.216Z" */
/* paste_hits: 0 */
/* paste_id: "_4GbFgpt" */
/* paste_name: "first paste" */
/* paste_syntax: "C++" */
/* paste_type: "public" */
/* user: null */
