/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #right {
        width: 100%;
        margin: 0;
    }

    #tag-link,
    .tag-link {
        font-size: 1.7vh;
    }

    #top-paste-name {
        margin-top: 5px;
    }

    .App,
    select,
    #select_form {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #00000;
        top: 0;
        left: 0;
    }

    select,
    #select_form {
        margin-top: 5px;
    }

    input[type="password"],
    input[type="email"],
    input[type="text"] {
        width: 100%;
    }

    #related-links {
        display: none;
    }

    .signup-container {
        margin: auto;
        width: 100%;
    }

    .signup-container input,
    .signup-container button {
        margin: 5px 5px 5px 0;
    }

    .signup-container h3 {
        text-align: center;
    }

    .signup-container button {
        width: 50%;
        height: 5vh;
        font-size: 2vh;
        margin-left: 25%;
    }

    #stats {
        min-width: 90%;
        float: none;
    }

    #ex,
    #ht,
    #cr,
    #sy {
        display: none;
    }

    .lock {
        color: black;
    }

    #all-pastes {
        margin: auto;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        font-size: 2vh;
    }
    span {
        font-size: 1.7vh;
    }
    #right {
        width: 100%;
        margin: 0;
    }

    .bp3-callout {
        font-size: 1.8vh;
    }

    #tag-link,
    .tag-link {
        font-size: 1.7vh;
        border-radius: 2px;
    }

    #top-paste-name {
        margin-top: 9px;
    }

    .App,
    select,
    #select_form {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #00000;
        top: 0;
        left: 0;
    }

    select,
    #select_form {
        margin: 5px;
    }

    select,
    #select_form,
    input[type="password"],
    input[type="email"],
    input[type="text"] {
        width: 50%;
    }

    #related-links {
        display: none;
    }

    th,
    #paste_name {
        font-size: 2vh;
    }

    #paste-name {
        height: auto;
        margin-left: 1.5px;
    }

    .signup-container {
        margin: auto;
        width: 100%;
    }

    .signup-container input,
    .signup-container button {
        margin: 5px 5px 5px 0;
    }

    .signup-container h3 {
        text-align: center;
    }

    .signup-container button {
        width: 50%;
        height: 5vh;
        font-size: 2vh;
        margin-left: 25%;
    }

    #stats {
        min-width: 90%;
        float: none;
    }

    #ex,
    #ht,
    #cr,
    #sy {
        display: none;
    }

    .lock {
        color: black;
    }

    #all-pastes {
        margin: auto;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    /* STYLES GO HERE */
}
